{% extends '_base.html' %}

{% block content %}
<main>
<div class="Hero">
    <div class="Corner-wrapper">
        <div class="Corner"></div>
        <div class="Corner-inside"></div>
    </div>

    <div class="Hero-content">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size8of12 u-lg-size6of12">
                <div class="u-textCenter">
                    <img src="/static/img/f-logo.png" class="Hero-logo" alt="Forefront Logo">
                    <h1>A
                        <span class="u-strikethrough">Meetup</span>
                        for Front_End Professionals</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <section class="Featured">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size11of12 u-md-size6of12 u-lg-size7of12">
                <div class="FeaturedEvent">
                    <div class="Corner-wrapper--small">
                        <div class="Corner--small"></div>
                        <div class="Corner-inside--small"></div>
                    </div>

                    <p class="FeaturedEvent-label">Upcoming_Event</p>

                    {% for event in events.events %}
                    {% if loop.last %}
                    <div class="FeaturedEvent-content">
                        <h2>{{ event.name }}</h2>
                        <p class="FeaturedEvent-date">
                        {{ event.date }} @
                        {{ event.location }}<br>
                        </p>
                        <p>{{ event.description }}</p>
                        <div class="u-textCenter">
                            <a href="{{ event.eventbrite }}" class="Button" target="_blank">Get Tickets</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="Dots"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="Section PastEvents">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size8of12 u-lg-size5of12">
                <div class="u-textCenter">
                    <h2 class="u-white">Past_Events</h2>

                    {% for event in events.events %}
                        <div class="tab">
                          <input id="tab-{{event.slug}}" type="checkbox" name="tabs">
                          <label for="tab-{{event.slug}}">{{ event.name }}</label>
                          <div class="tab-content">
                            <p>{{ event.date }} | @{{ event.location }}</p>
                            <p>{{ event.description }}</p>
                          </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="Section">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-lg-size8of12">
                <div class="Grid Grid--withGutter Grid--alignCenter">
                    <div class="Grid-cell u-sm-size12of12 u-md-size5of12">
                        <h2>What is Fore_Front?</h2>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="Grid-cell u-sm-size12of12 u-md-size7of12">
                        <img src="/static/img/cat.jpg" class="Section-image" alt="">
                        <img src="/static/img/cat1.png" class="Section-image" alt="">
                    </div>
                </div>
                <div class="u-textCenter">
                    <a href="#" class="Link--primary">Code of Conduct</a>
                </div>
            </div>
        </div>
    </section>

    <section class="Section Section--secondary">
        <div class="u-textCenter">
            <p class="title">HAVE SOME QUESTIONS OR INTEREST IN SPEAKING?</p>
            <a href="mailto:forefront@isl.co" class="Link--primary u-white">forefront@isl.co</a>
        </div>
    </section>

    <footer class="Footer">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item">
                    <img src="/static/img/f-logo.png" class="Hero-logo" alt="Forefront Logo">
                </div>
            </div>
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item">
                    <img src="/static/img/isl-logo.png" style="width:100px;">
                </div>
            </div>
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item">
                    <a href="#" class="Link--secondary">Instagram</a>
                    <a href="#" class="Link--secondary">Facebook</a>
                    <a href="#" class="Link--secondary">Twitter</a>
                </div>
            </div>
        </div>
    </footer>
</main>
{% endblock %}

{% block javascripts %}
{{ super() }}
{% endblock %}
