{% extends '_base.html' %}

{% block content %}
<main>
<div class="Hero">
    <div class="Hero-logotype">
        <a href="">{% include 'partials/svg/ff-logo-type.html' %}</a>
    </div>
    <div class="Hero-colorpicker">
        <a href="#">
            {% include 'partials/svg/color-picker.html' %}
        </a>
    </div>
    <div class="Corner-wrapper">
        <div class="Corner"></div>
        <div class="Corner-inside"></div>
    </div>

    <div class="Hero-content">
        <div class="Grid Grid--withGutter Grid--alignMiddle">
            <div class="Grid-cell Grid-cell--center u-sm-size12of12 u-md-size10of12 u-lg-size8of12">
                <div class="u-textCenter">
                    <a class="Hero-logo" href="/">{% include 'partials/svg/ff-logo.html' %}</a>
                    <h1 class="u-mt2">A
                        <span class="u-strikethrough">Meetup</span>
                        for Front_End Professionals</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

    <section class="Featured">
        <div class="Grid Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size9of12 u-lg-size7of12">
                <div class="FeaturedEvent">
                    <div class="Corner-wrapper--small">
                        <div class="Corner--small"></div>
                        <div class="Corner-inside--small"></div>
                    </div>

                    <p class="FeaturedEvent-label">Upcoming_Event</p>

                    {% for event in events.events %}
                    {% if loop.last %}
                    <div class="FeaturedEvent-content">
                        <h2>{{ event.name }}</h2>
                        <p class="FeaturedEvent-date">
                        {{ event.date }} @
                        {{ event.location }}<br>
                        </p>
                        <p>{{ event.description|safe }}</p>
                        <div class="u-textCenter">
                            <a href="{{ event.eventbrite }}" class="Button" target="_blank">Get Tickets</a>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="Dots"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="Section PastEvents">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size10of12 u-lg-size7of12">
                <div class="u-textCenter">
                    <h2 class="u-light">Past_Events</h2>

                    {% for event in events.events %}
                    {% if not loop.last %}
                        <div class="Accordion">
                          <input id="Accordion-{{event.slug}}" type="checkbox" name="tabs">
                          <label for="Accordion-{{event.slug}}">{{ event.name }}</label>
                          <div class="Accordion-content">
                            <p>{{ event.date }} | @{{ event.location }}</p>
                            <p>{{ event.description }}</p>
                          </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="Section">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-lg-size8of12">
                <div class="Grid Grid--withGutter Grid--alignCenter">
                    <div class="Grid-cell u-sm-size12of12 u-md-size5of12">
                        <h2>What is Fore_Front?</h2>
                        <p class="Section-paragraph">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                    </div>
                    <div class="Grid-cell u-md-size1of12"></div>
                    <div class="Grid-cell u-sm-size12of12 u-md-size5of12">
                        <div class="Image" alt="">
                            <div class="Image-inner"></div>
                            <div class="Corner-wrapper">
                                <div class="Corner"></div>
                                <div class="Corner-inside"></div>
                            </div>
                        </div><br>
                        <div class="Image Image--right" alt="">
                            <div class="Image-inner"></div>
                            <div class="Corner-wrapper">
                                <div class="Corner"></div>
                                <div class="Corner-inside"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="u-textCenter u-mt3">
                    <a href="#" class="Link--primary">Code of Conduct</a>
                </div>
            </div>
        </div>
    </section>

    <section class="Section Section--secondary">
        <div class="u-textCenter">
            <p class="title">HAVE SOME QUESTIONS OR INTEREST IN SPEAKING?</p>
            <a href="mailto:forefront@isl.co" class="Link--primary Link--primary-light">forefront@isl.co</a>
        </div>
    </section>

    <footer class="Footer">
        <div class="Grid Grid--withGutter Grid--alignCenter">
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item Footer-item--first">
                    <a class="Footer-logo" href="/">{% include 'partials/svg/ff-logo.html' %}</a>
                </div>
            </div>
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item">
                    <a class="Footer-logo Footer-logo--isl" href="https://isl.co/" target="_blank">{% include 'partials/svg/isl-logo.html' %}</a>
                </div>
            </div>
            <div class="Grid-cell u-sm-size12of12 u-md-size4of12">
                <div class="Footer-item Footer-item--last">
                    <a href="https://www.instagram.com/istrategylabs/" class="Link--secondary" target="_blank">Instagram</a>
                    <a href="https://www.facebook.com/istrategylabs/" class="Link--secondary" target="_blank">Facebook</a>
                    <a href="https://twitter.com/istrategylabs" class="Link--secondary" target="_blank">Twitter</a>
                </div>
            </div>
        </div>
    </footer>
</main>
{% endblock %}

{% block javascripts %}
{{ super() }}
{% endblock %}
