.Button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--font-courier);
    text-transform: uppercase;
    letter-spacing: 9px;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 0.75rem 2rem;
    margin-top: 1.5rem;
    border: 3px solid var(--primary-color);
    transition: all 200ms ease-in-out;
    text-align: left;

    @media(--md-viewport) {
        padding: 1.25rem 3rem;
        margin-top: 4rem;
    }

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}
