.Coffee-mug {
    fill: var(--primary-color);
    width: 100%;
}

#speech_1_,
#devtools_1_,
#nail_1_,
#files_1_ {
    animation: upper var(--steam-durration) infinite;
}

#ruler_1_,
#codepen_1_,
#pointer_1_,
#Paint_1_,
#hammer_1_,
#pencil_1_ {
    animation: downer var(--steam-durration) infinite;
}


@keyframes upper {
    0% {
        transform: translateY(-4px);
    }

    50% {
        transform: translateY(4px);
    }

    100% {
        transform: translateY(-4px);
    }
}

@keyframes downer {
    0% {
        transform: translateY(4px);
    }

    50% {
        transform: translateY(-4px);
    }

    100% {
        transform: translateY(4px);
    }
}
