.Dots {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 100%;
    height: 100%;
    background-color: #FFFDEB;
    background-image: radial-gradient(#4554a1 25%, transparent 25%);
    background-size: 20px 20px;
    background-position: center;
    border: 3px solid var(--primary-color);
    z-index: -1;
}