.Dots {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    background-image: radial-gradient(var(--primary-color) 25%, transparent 25%);
    background-size: 12px 12px;
    background-position: 48% 50%;
    border: 3px solid var(--primary-color);
    z-index: -1;
    transition: all 250ms ease-in-out;
    transition-property: top, right;

    @media(--md-viewport) {
        top: 30px;
        right: 30px;
    }
}