.Event {
    margin: 1rem;
    overflow: visible;
    position: relative;
    z-index: 1;
    margin-top: calc(-100vw / 8);

    &:hover {
        .Dots {
            top: 0;
            right: 0;
        }
    }

    @media(--md-viewport) {
        margin-top: calc(-100vw / 8);
    }
    @media(--lg-viewport) {
        margin-top: calc(-100vw / 12);
    }
}

.Event-content {
    background-color: var(--secondary-color);
    padding: 10rem 4rem;
    font-size: 14px;
    color: #898989;
    line-height: 1.6;
    border: 3px solid var(--primary-color);
    display: flex;

    @media(--md-viewport) {
        padding: 4rem 4rem 6rem;
    }
}

.Event-logo {
    svg {
        animation: floatLogo 4s infinite;
        height: 4rem;
        margin-bottom: 1rem;
        width: auto;

        g {
            fill: var(--primary-color);
        }
    }
}

.Event-label {
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--secondary-color);

    @media(--md-viewport) {
        letter-spacing: 6px;
    }
}

.Speaker, Speaker-bio, Location {
    color: var(--secondary-color);
}
