.Event {
    margin: 1rem;
    overflow: visible;
    position: relative;
    z-index: 1;
    margin-top: calc(-100vw / 8);

    &:hover {
        .Dots {
            top: 0;
            right: 0;
        }
    }

    @media(--md-viewport) {
        margin-top: calc(-100vw / 8);
    }
    @media(--lg-viewport) {
        margin-top: calc(-100vw / 12);
    }
}

.Event-content {
    background-color: var(--secondary-color);
    padding: 3rem 1rem;
    font-size: 14px;
    color: #898989;
    line-height: 1.6;
    border: 3px solid var(--primary-color);
    display: flex;

    @media(--md-viewport) {
        padding: 10rem 4rem;

        h1 {
            font-size: 4rem;
            margin-left: -.3rem;
        }
    }
}

.Event-register {
    text-align: center;
    @media(--md-viewport) {
        text-align: left;
    }
    @media(--lg-viewport) {
        text-align: left;
    }
}

.Event-logo {
    svg {
        animation: floatLogo 4s infinite;
        height: 6rem;
        margin-bottom: 1rem;
        width: auto;

        g {
            fill: var(--primary-color);
        }

        @media(--sm-only-viewport) {
            padding-left: 2rem;
        }
    }
}

.Event-label {
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--secondary-color);

    @media(--md-viewport) {
        letter-spacing: 6px;
    }
}

.Speaker {
    color: var(--secondary-color);
}

.Speaker-bio {
    color: var(--secondary-color);
}

.Location {
    color: var(--secondary-color);
}

.Speaker-grid {
    .Grid-cell {
        padding: 0;

        @media(--md-viewport) {
            &:nth-child(odd) {
                padding-right: 2rem;
            }
        }

        @media(--lg-viewport) {
            &:nth-child(odd) {
                padding-right: 2rem;
            }
        }
    }
}
