.Featured {
    margin-left: 1.5rem;
    margin-bottom: 4rem;
}

.FeaturedEvent {
    margin: 1rem;
    overflow: visible;
    position: relative;
    z-index: 1;
    margin-top: calc(-100vw / 8);

    &:hover {
        .Dots {
            top: 0;
            right: 0;
        }
    }

    @media(--md-viewport) {
        margin-top: calc(-100vw / 8);
    }
    @media(--lg-viewport) {
        margin-top: calc(-100vw / 12);
    }
}

.FeaturedEvent-content {
    border: 3px solid var(--primary-color);
    background-color: var(--secondary-color);
    padding: 1.5rem;

    @media(--md-viewport) {
        padding: 4rem;
    }
}

.FeaturedEvent-label {
    position: absolute;
    top: -12px;
    left: 20px;
    padding: 0 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: var(--secondary-color);

    @media(--md-viewport) {
        letter-spacing: 6px;
    }
}

.FeaturedEvent-date {
    margin: 1rem 0;
    text-transform: uppercase;

    @media(--md-viewport) {
        margin: 2rem 0;
    }
}
