.Footer {
    border: 3px solid var(--primary-color);
    margin: 0 1rem 1rem 1rem;
    padding: 3rem 0;
}

.Footer-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;

    @media(--md-viewport) {
        margin: 0;
    }
}

.Footer-item--first {
    @media(--md-viewport) {
        align-items: baseline;
    }
}

.Footer-item--last {
    @media(--md-viewport) {
        align-items: flex-end;
    }
}

.Footer-logo {
    margin-bottom: 1rem;
    transition: transform 300ms ease;

    svg {
        g{
            fill: var(--primary-color);
        }
    }

    &:hover {
        transform: translateY(-5px);
        cursor: pointer;
    }
}