.Hero {
    margin: 1rem;
    overflow: hidden;
    position: relative;
}

.Hero-logo {
    margin-bottom: 1rem;

    svg {

      g{
        fill: var(--primary-color);
      }
        animation: floatLogo 4s infinite;
    }
}

.Hero-logotype {
  position: absolute;
  padding: 0.5rem 1rem;

  @media(--md-viewport) {
    padding: 1.5rem 1.5rem 1.5rem 1.7rem;
  }

  svg {
    width: 3rem;

    g {
      fill: var(--primary-color);
    }

    @media(--md-viewport) {
      width: 4rem;
    }
  }
}

.Hero-content {
  background-color: var(--secondary-color);
  padding: 2rem;
  font-size: 14px;
  color: #898989;
  line-height: 1.6;
  border: 3px solid var(--primary-color);
  padding-bottom: 10rem;
}

@keyframes floatLogo {
  0% {
    transform: translateY(-5px);
  }

  50% {
    transform: translateY(5px);

  }

  100% {
    transform: translateY(-5px);
  }
}
