.Image {
    background-image: url('/static/img/cat.jpg');
    width: 300px;
    height: 300px;
    background-color: var(--primary-color);
    background-blend-mode: luminosity;
    overflow: hidden;
    position: relative;
}

.Image-inner {
    border: 3px solid var(--primary-color);
    height: 100%;
    width: 100%;
}

.Image--right {
    margin-left: 100px;
    margin-top: -100px;
}