.Image {
    background-image: url('/static/img/cat.jpg');
    width: 70%;
    max-width: 250px;
    height: 275px;
    background-color: var(--primary-color);
    background-blend-mode: luminosity;
    overflow: hidden;
    position: relative;
    margin-top: 2rem;

    @media(--md-viewport) {
        width: 225px;
        height: 275px;
        margin-top: 0;
    }
    @media(--lg-viewport) {
        width: 250px;
        height: 300px;
        margin-top: 0;
    }
}

.Image-inner {
    border: 3px solid var(--primary-color);
    height: 100%;
    width: 100%;
}

.Image--right {
    margin-left: 75px;
    margin-top: -75px;

    @media(--md-viewport) {
        margin-left: 100px;
        margin-top: -100px;
    }
}