.Image {
    overflow: hidden;
    position: relative;
    margin-top: 2rem;
    background-position: center center;
    width: 100%;

    @media(--md-viewport) {
        height: 20rem;
        width: 40%;
        margin: 0 auto;
    }

    @media(--lg-viewport) {
        height: 23rem;
        width: 100%;
        margin-top: 0;
    }
}

.Image-inner {
    border: 3px solid var(--secondary-color);
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.Image-location {
    svg {
        fill: var(--secondary-color);
    }
}
