.Link--primary {
    color: var(--primary-color);
    font-family: var(--font-times);
    font-size: 3rem;
    font-style: italic;
    display: block;
}

.Link--secondary {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    text-decoration: none;
    text-align: right;
    display: block;
}