.Link--primary {
    color: var(--primary-color);
    font-family: var(--font-times);
    font-size: 2rem;
    font-style: italic;
    display: inline-block;
    text-decoration: none;
    border-bottom: 3px solid var(--primary-color);
    padding: 0.75rem;
    transition: all 250ms ease-in-out;

    @media(--md-viewport) {
      font-size: 3rem;
    }

    &:hover {
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }
}

.Link--primary-light {
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);

    &:hover {
        background-color: var(--secondary-color);
        color: var(--primary-color);
    }
}

.Link--secondary {
    color: var(--primary-color);
    margin-bottom: 0.5rem;
    text-decoration: none;
    letter-spacing: 1.5px;

    position: relative;
    display: inline-block;
    padding-bottom: 6px;
    overflow: hidden;

    &:hover {
        cursor: pointer;
    }

    &:before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: var(--primary-color);
        overflow: hidden;
        transform: translateX(-100%);
        transition: transform 500ms ease;
        cursor: pointer;
    }

    &:hover::before {
        transform: translateX(0);
    }
}