.Section {
    padding: 4rem 1rem;

    @media(--md-viewport) {
        padding: 6rem 0;
    }
}

.Section--secondary {
    background-color: var(--primary-color);
    margin: 0 1rem;
}

.Section-image {
    position: relative;
    border: 3px solid var(--primary-color);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 40px 40px 0;
        border-style: solid;
        border-color: var(--primary-color) var(--secondary-color);
    }
}

.Section-paragraph {
    width: 100%;

    @media(--md-viewport) {
        width: 85%;
    }
}