h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--primary-color);
    font-family: var(--font-times);
    margin-bottom: 1rem;
}

h1 {
    @media(--md-viewport) {
        font-size: 3rem;
        margin-bottom: 1rem;
        line-height: 1.2;
    }
}

h2 {
    @media(--md-viewport) {
        font-size: 2.5rem;
    }
}

p {
    font-family: var(--font-courier);
    font-size: 0.85rem;
    color: var(--primary-color);
    letter-spacing: 0;
    line-height: 1.8;
}

.u-strikethrough {
    position: relative;

    &::after {
        content: '';
        width: 105%;
        height: 4px;
        background-color: var(--dark-purple);
        position: absolute;
        top: 55%;
        left: -5px;
        transform: translateY(-50%);
        z-index: 1;
    }
}

.title {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
    color: var(--white);
}

.u-white {
    color: var(--white);
}