@import 'suitcss';

@import 'components/Button';
@import 'components/FeaturedEvent';
@import 'components/Hero';
@import 'components/Link';
@import 'components/PastEvents';
@import 'components/Section';
@import 'components/Footer';

@import 'utilities/Typography';

@import '_help'; /* remove this helpfile once not needed anymore */

/* custom media queries */
@custom-media --sm-viewport (min-width: 0);
@custom-media --sm-only-viewport (max-width: 750px);
@custom-media --md-viewport (min-width: 750px);
@custom-media --md-only-viewport (min-width: 750px) and (max-width: 960px);
@custom-media --lg-viewport (min-width: 960px);

:root {
    --Grid-gutter-size: 10px; /* suitcss property overwrite */
    --Grid-max-width: 1200px; /* custom property */

    --font-times: 'Times New Roman', Times, serif;
    --font-courier: "Courier", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;

    --font-family: var(--font-courier);
    --font-size: 1rem;

    --white: #FFFFFF;
    --pale-yellow: #FFFDEB;
    --purple: #576AB0;
    --dark-purple: #4554a1;

    --primary-color: var(--dark-purple);
    --secondary-color: var(--pale-yellow);
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--pale-yellow);
}

.Grid {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: var(--Grid-max-width);

    .Grid {
        padding: 0;
    }
}
