@import 'suitcss';

@import 'components/Accordion';
@import 'components/Button';
@import 'components/Corner';
@import 'components/Dots';
@import 'components/FeaturedEvent';
@import 'components/Hero';
@import 'components/Link';
@import 'components/Section';
@import 'components/Footer';
@import 'components/Coffee-mug';
@import 'components/Event';
@import 'components/Image';
@import 'components/AfterDark';

@import 'utilities/Typography';
@import 'utilities/Utilities';


@import '_help'; /* remove this helpfile once not needed anymore */

/* custom media queries */
@custom-media --sm-viewport (min-width: 0);
@custom-media --sm-only-viewport (max-width: 750px);
@custom-media --md-viewport (min-width: 750px);
@custom-media --md-only-viewport (min-width: 750px) and (max-width: 960px);
@custom-media --lg-viewport (min-width: 960px);

:root {
    --Grid-gutter-size: 30px; /* suitcss property overwrite */
    --Grid-max-width: 1200px; /* custom property */

    --font-times: 'Times New Roman', Times, serif;
    --font-courier: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

    --font-family: var(--font-courier);
    --font-size: 1rem;

    --white: #fff;
    --pale-yellow: #fffdeb;
    --purple: #576ab0;
    --dark-purple: #4554a1;

    --primary-color: var(--dark-purple);
    --secondary-color: var(--pale-yellow);

    --steam-durration: 6s;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 100vw;
    overflow-x: hidden;
    background-color: var(--secondary-color);
}

.Grid {
    margin: 0 auto;
    padding: 0;
    max-width: var(--Grid-max-width);

    .Grid {
        padding: 0;
    }
}
